@using Byte.Blog.Content
@model global::Byte.Blog.Rendering.Models.PageViewModel
@{
    Layout = "~/Areas/Rendering/Views/Shared/_Layout.cshtml";
}

<div class="page" data-disqus-shortname="@Model.DisqusShortname">
    @foreach (var entry in Model.Entries)
    {
        @Html.Partial("Entry", entry)
        <p><a href="@entry.CanonicalUrl#disqus_thread">comments</a></p>
    }
</div>

@section FooterScripts {

    <script src="@Url.Content("~/rendering/assets/scripts/EntryView.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/rendering/assets/scripts/PageView.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            window.EntryView.initializeAll();

            return new window.PageView({ el: $('.page') });

        });

    </script>

}
