@using Byte.Blog.Editorial.Models
@model global::Byte.Blog.Editorial.Models.PageDashboardQueryModel

<div id="page-dashboard">
    
    <div id="dashboard-settings">
        @Html.HiddenFor(m => m.PageNumber)
        @Html.HiddenFor(m => m.PageSize)
        @Html.HiddenFor(m => m.TotalItems)
    </div>

    <h2>Pages</h2>

    <table class="table table-striped dashboard-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Color</th>
                <th>Slug</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <div class="pagination dashboard-pagination"></div>

</div>



@section FooterScripts 
{
    <script src="@Url.Content("~/editorial/assets/scripts/PageEditModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/editorial/assets/scripts/PaginationView.js")" type="text/javascript"></script>

    <script type="text/template" id="page-dashboard-item-template">
        @Html.Partial("ItemTemplate", new PageEditModel())
    </script>
    
    <script type="text/javascript">

        $(function () {

            var pageDashboardView = new window.DashboardView({
                el: $('#page-dashboard'),
                model: window.PageEditModel,
                itemTemplate: $('#page-dashboard-item-template'),
                fetchUrl: '@Url.Action("fetch")'
            });

        });

    </script>
}