@using Byte.Blog.Editorial.Models
@model global::Byte.Blog.Editorial.Models.EntryDashboardQueryModel

<div id="entry-dashboard">
    
    <div class="dashboard-settings">
        @Html.HiddenFor(m => m.PageNumber)
        @Html.HiddenFor(m => m.PageSize)
        @Html.HiddenFor(m => m.TotalItems)
    </div>

    <h2>Entries</h2>
    
    <div id="action-message" class="alert hide"></div>

    <table class="table table-striped dashboard-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th>Pages</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="pagination dashboard-pagination"></div>

</div>

@section FooterScripts 
{
    <script src="@Url.Content("~/editorial/assets/scripts/EntryEditModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/editorial/assets/scripts/PaginationView.js")" type="text/javascript"></script>

    <script type="text/template" id="entry-dashboard-item-template">
        @Html.Partial("ItemTemplate", new EntryEditModel())
    </script>
    
    <script type="text/javascript">

        $(function () {

            var entryDashboardView = new window.DashboardView({
                el: $('#entry-dashboard'),
                model: window.EntryEditModel,
                itemTemplate: $('#entry-dashboard-item-template'),
                fetchUrl: '@Url.Action("fetch")'
            });

        });

    </script>
}