@using Byte.Blog.Editorial.Models
@model global::Byte.Blog.Editorial.Models.EntryDashboardQueryModel

<div id="entry-dashboard-query-settings">
    @Html.HiddenFor(m => m.PageNumber)
    @Html.HiddenFor(m => m.PageSize)
</div>

<h2>Entries</h2>

<table class="table table-striped" id="entry-dashboard-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Slug</th>
            <th>Published</th>
            <th>Modified</th>
            <th>Pages</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="pagination"></div>

@section FooterScripts 
{
    <script src="@Url.Content("~/editorial/assets/scripts/EntryEditModel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/editorial/assets/scripts/PaginationView.js")" type="text/javascript"></script>

    <script type="text/template" id="entry-dashboard-item-template">
        @Html.Partial("ItemTemplate", new EntryEditModel())
    </script>
    
    <script type="text/javascript">

        $(function () {

            var entryDashboardView = new window.DashboardView({
                el: $('#entry-dashboard-table'),
                model: window.EntryEditModel,
                itemTemplate: $('#entry-dashboard-item-template'),
                fetchUrl: '@Url.Action("fetch")',
                pageNumber: $('#PageNumber').val(),
                pageSize: $('#PageSize').val()
            });

            var paginationView = new window.PaginationView({ 
                el: $('.pagination'),
                currentPageNumber: @Model.PageNumber,
                totalItems: 50,   //temporary hack
                itemsPerPage: @Model.PageSize
            });

        });

    </script>
}