@using Byte.Blog.Framework.Web
@model global::Byte.Blog.Rendering.Models.EntryViewModel
@{
    Layout = "~/Areas/Rendering/Views/Shared/_Layout.cshtml";
}

<div class="entry" data-page-slug="@Model.PageSlug" data-entry-slug="@Model.Slug">
    <h2>@Model.Title</h2>
    <div>
        @Html.Raw(Model.Body)
    </div>
    @Html.Partial("Disqus")
</div>

@section FooterScripts {

    <script src="@Url.Content("~/rendering/assets/scripts/EntryView.js")" type="text/javascript"></script>
    
    <script type="text/javascript">

        $(document).ready(function () {

            window.disqus_developer = @(MvcApplication.EnvironmentType == EnvironmentType.Development ? '1' : '0');

            return new window.DisqusView({ 
                el: $('.entry')
            });

        });

    </script>
}