<div class="well well-small">
    <ul class="nav nav-list">
        <li class="nav-header">Entries</li>
        <li><a href="@Url.Action("New", "Entries")"><i class="icon-pencil"></i> New Entry</a></li>
        <li><a href="@Url.Action("Dashboard", "EntriesDashboard")"><i class="icon-th-list"></i> Entry Dashboard</a></li>
        <li class="nav-header">Pages</li>
        <li><a href="@Url.Action("New", "Pages")"><i class="icon-pencil"></i> New Page</a></li>
        <li><a href="@Url.Action("Dashboard", "PagesDashboard")"><i class="icon-th-list"></i> Page Dashboard</a></li>
        <li class="nav-header">Tools</li>
        <li><a href="@Url.Action("FromWordpress", "ImportExport")"><i class="icon-download-alt"></i> Import Wordpress</a></li>
    </ul>
</div>